.vagrant
nbproject
tags
*-backup*
*.old*
.htaccess
*local.php*
*/thumb/cache/*
*/thumb/cache/!index.php!
*/thumb/cache/!source!
.Spotlight-V100
.Trashes
Thumbs.db
run/vagrant/.vagrant
vendor/*
vendor/!devil!
composer.phar
composer.lock
public/galeria/*
config/autoload/local.php
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock
vendor/
public/vendor/
config/development.config.php
!public/vendor/README.md
data/cache/*
!data/cache/.gitkeep
*.swp
logs/*
includes/config.php
ubuntu-webserver/ssh/*